/*practicing styles*/

body {
	background-color: #B5B682; 
	color:#033F63;
}

h1 {
	font-family: arial;
	text-decoration: underline;
}

img {
     width: 20%;
     height: 25%;

}

a {
    text-decoration: none;

}
ul li{
	list-style-type:none;
	}  
#First {
	font-size: 25px;
}
.Even {background-color: #30B7C9

} 
#last { background-color: pink;

}