/*practicing styles*/

body {
	background-color: pink; 
	color: red;
}

h1 {
	font-family: ariel;
	text-decoration: underline;
}

img {
     width: 10%;
     height: 15%;

}

a {
    text-decoration: none;

}
ul li{
	list-style-type:none;  
}